# Integración de Spark y R

In [1]:
library(dplyr)
library(sparklyr)

Attaching package: ‘dplyr’

The following objects are masked from ‘package:stats’:

    filter, lag

The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union

In [2]:
sc <- spark_connect(master = "local")

In [3]:
sc

$master
[1] "local[1]"

$method
[1] "shell"

$app_name
[1] "sparklyr"

$config
$config$spark.env.SPARK_LOCAL_IP.local
[1] "127.0.0.1"

$config$sparklyr.csv.embedded
[1] "^1.*"

$config$sparklyr.cores.local
[1] 1

$config$spark.sql.shuffle.partitions.local
[1] 1

attr(,"config")
[1] "default"
attr(,"file")
[1] "/home/cloudera/R/x86_64-redhat-linux-gnu-library/3.4/sparklyr/conf/config-template.yml"

$spark_home
[1] "/home/cloudera/spark-2.2.1-bin-hadoop2.7"

$backend
A connection with
description "->localhost:37184"
class       "sockconn"
mode        "wb"
text        "binary"
opened      "opened"
can read    "yes"
can write   "yes"

$monitor
A connection with
description "->localhost:8880"
class       "sockconn"
mode        "rb"
text        "binary"
opened      "opened"
can read    "yes"
can write   "yes"

$output_file
[1] "/tmp/Rtmp1S7kP9/file71ef596abbbf_spark.log"

$spark_context
<jobj[7]>
  org.apache.spark.SparkContext
  org.apache.spark.SparkContext@1143247b

$java_context
<jobj[8]>
  org.apache.spark.api.java.JavaSparkContext
  org.apache.spark.api.java.JavaSparkContext@56e87231

attr(,"class")
[1] "spark_connection"       "spark_shell_connection" "DBIConnection"

In [4]:
t <- tbl(sc, 'precios.ComunidadesAutonomas')

In [5]:
t

# Source:   table<precios.ComunidadesAutonomas> [?? x 2]
# Database: spark_connection
   ccaa                 idccaa
   <chr>                <chr>
 1 Andalucia            01
 2 Aragón               02
 3 Asturias             03
 4 Baleares             04
 5 Canarias             05
 6 Cantabria            06
 7 Castilla la Mancha   07
 8 Castilla y León      08
 9 Cataluña             09
10 Comunidad Valenciana 10
# ... with more rows